.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

.product-item {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-bottom: 10px;
  position: relative;
  width: 49.5%;
}
.product-item-single {
  height: 360px;
  margin-bottom: 0;
  width: 100%;
}

.product-image {
  margin-bottom: 4px;
  max-height: 75%;
  min-height: 75%;
  object-fit: cover;
  width: 100%;
}

.product-image-single {
  max-height: 80%;
  min-height: 80%;
}
.product-buttons {
  position: absolute;
  bottom: 66px;
  right: 10px;
  display: flex;
  gap: 10px;
}
.product-details {
  padding: 5px;
  width: 100%;
}
.vendor-name {
  color: #64748b;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  margin: 4px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.product-title {
  color: #001718 !important;
  text-transform: capitalize;
}
.product-price {
  font-weight: 600;
  margin: 0;
  text-transform: none;
}
.product-mrp {
  color: #64748b;
  margin-left: 2px;
  margin-right: 3px;
  text-decoration: line-through;
}

.product-discount {
  color: #7e59e7;
  font-weight: 500;
}